<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_1001.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_1002.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_1003.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_1004.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_1005.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_1006.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_1007.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_1008.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_1009.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_1010.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_1011.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_1012.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_1013.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_1014.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_1015.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_n9_72x72_</string>
		<key>isIncome</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_n10_72x71_</string>
		<key>isIncome</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_n11_73x72_</string>
		<key>isIncome</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_n12_72x72_</string>
		<key>isIncome</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_n13_73x72_</string>
		<key>isIncome</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_n14_72x72_</string>
		<key>isIncome</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_n15_72x72_</string>
		<key>isIncome</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryImageFileName</key>
		<string>type_big_n16_72x72_</string>
		<key>isIncome</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
